.sn_titulo{
    height: max-content;
    border-radius: 10px;
    margin-top: 3rem;
    margin-left: 2rem;
    display: flexbox;
    font-size: 30px;
    font-weight: bold;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
    color: rgb(204, 204, 63);
    text-decoration: underline;
}
.sn_texto{
    width: 90%;
    margin-top: 2rem;
    margin-left: 5rem;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contato{
    margin-left: 6rem;
    margin-top: 20px;
    line-height: 30px;
}
.logo{
    margin: auto;
    }
.logo img{
    width: 150px;
    height: 100px;
}